.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.list {
    display: block;
    width: 400px;
    height: 300px;
    margin: 30px;
    min-width: 300px;
    list-style: none;
    border-style: solid;
}

ul {
    list-style: none;
}

.hideButton {
    display: none;
}
.showButton {
    display: block;
}

.hide{
    display:none;
}

.book{
    display: block;
    width: 400px;
    height: 600px;
    margin: 30px;
    min-width: 300px;
    border-style: solid;
}