header {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

header h1,
header form {
    color: #fff;
}

.formElement {
    margin: 0 10px 0 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 30px;
    min-width: 300px;
    list-style: none;
    border-style: solid;
    border-width: 2px
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0
}

li {
    margin: 10px 0 10px 0
}

.listButton {
    margin-top: 20px;
}

.hideButton {
    display: none;
}

.showButton {
    display: block;
}



.book {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 600px;
    margin: 30px;
    min-width: 300px;
    border-style: solid;
}

#pBook1,
#pBook2,
#pBook3,
#pBook4,
#weeksBook1,
#weeksBook2,
#weeksBook3,
#weeksBook4 {
    margin: 0 20px 0 20px;
    font-weight: 700;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

small {
    color: #fff;

}

#small1 {
    position: absolute;
    right: 160px;
    top: 75px;
}

#small2 {
    position: absolute;
    right: 100px;
    top: 75px
}

#small2:hover {
    color: rgb(0, 179, 255);
    cursor: pointer;
}

section {
    border-radius: 10px;
    transition:0.08s;

}

section:hover {
    box-shadow: rgba(255, 255, 255, 0.);
    -webkit-box-shadow: 14px 9px 24px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 9px 24px -7px rgba(0, 0, 0, 0.4);
    box-shadow: 14px 9px 24px -7px rgba(0, 0, 0, 0.4);
    background-color: rgb(201, 238, 255);
}

.signUpContainer {
    border-style: solid;
    width: 350px;
    height:500px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border-width: 2px;
    margin-top: 70px
}

#signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
}

.hide {
    display: none;
}

.welcomeSection{
    position: absolute;
    right: 100px;
    color: #fff;
    margin-right: 50px;
}

.small3{
    margin-left:30px;
    margin-right:50px;
    color: #fff;
}

#small3:hover {
    color: rgb(0, 179, 255);
    cursor: pointer;
}